@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  gap: 8px;
  padding: 4px 8px;
}

a {
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset, rgba(0, 0, 0, 0.9) 0 0 0 1px;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

.homeinfo {
  border: 2px solid  rgba(0, 50, 73, 0.6);
  background-color: rgba(0, 70, 93, 1);
  padding: 10px;
  position: relative;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  color: white;
}

.homeinfo:nth-child(even) {
  background-color: rgb(86, 247, 247);
}

.banner1 {
  height: 100px;
  margin-right: 20px;
}

.headerdetails {
  background-color: rgba(0, 50, 73, 0.6);
  margin: 70px 8px 4px 8px;
  padding: 10px 20px;
  position: relative;
  color: white;
}

.headerdetails::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 50, 73, 0.6);
  background-image: url(./asset/world.svg);
  background-size: contain;
  filter: brightness(0.4);
}

.continent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  background-color: rgba(0, 70, 93, 1);
  margin: 0.5rem;
  border: 2px solid rgba(0, 50, 73, 0.6);
  padding: 20px 10px;
  flex-wrap: wrap;
  color: white;
}

.country {
  text-align: center;
  margin-top: 50px;
  top: 0;
  width: 100%;
}

.detailscontainer {
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 70, 93, 1);
  top: 0;
}

.head {
  text-align: center;
  color: white;
}

.header {
  width: 90%;
}

.search {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.searchdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.subcontainer {
  display: grid;
  gap: 8px;
}

@media screen and (max-width: 375px) {
  .subcontainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .subcontainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
  }
}

.searchtitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.backicon {
  font-size: 20px;
}

.arrow {
  text-align: end;
  align-self: end;
  float: right;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: translateX(6px);
}

.section > p {
  margin: 0;
  padding: 0;
}

.section > p:first-child {
  font-size: 1.2rem;
  font-weight: 700;
  color: #a6d8e9;
}

.country-section-text {
  color: white;
}

.cases {
  font-size: 0.875rem;
  color: #ffae44;
  font-weight: 700;
}
